.information-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    right: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.country-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.country-info > h3 {
    color: rgb(43, 160, 255);
    margin-right: auto;
}

.country-info > span {
    text-align: end;
}

.country-region {
    display: flex;
    flex-direction: column;
}