@import '../../App.css';

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    background-color: #1E1E1E;
    top: 0%;
    height: 100%;
    padding-top: 20px;
}

.nav-banner > img {
    width: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

.nav-section * {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-section:hover {
    background-color: rgb(108, 108, 108);
}

.nav-link {
    text-decoration: none;
    color: #eeeeee;
    text-align: center;
}

@media (width < 768px) {
    aside {
        flex-direction: row;
        height: 50px;
        width: 100%;
        align-items: center;
        padding-top: 0;
        justify-content: center;
        gap: 20px;
    }

    .nav-banner > img {
        display: none;
    }

    .nav-section {
        padding: 0;
        font-size: 12px;
    }
}