@import '../../App.css';

.menu {
    display: none;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    background-color: #1E1E1E;
    top: 0%;
    height: 100%;
    padding-top: 20px;
}

.nav-banner>img {
    width: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

.nav-section * {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-section:hover {
    background-color: rgb(108, 108, 108);
}

.nav-link {
    text-decoration: none;
    color: #eeeeee;
    text-align: center;
}

@media (width < 768px) {
    .menu {
        display: block;
        position: absolute;
        top: 2%;
        left: 4%;
        cursor: pointer;
    }

    aside {
        display: none;
    }

    aside>span {
        text-align: end;
        color: #eeeeee;
        font-size: 32px;
        margin-right: 10%;
        cursor: pointer;
    }

    aside.visible {
        display: flex;
    }
}